@charset "utf-8";
@font-face{
    font-family:Mario;
    src: url(mario.ttf) format('truetype'),
       url(mario.woff) format('woff'),
       url(mario.woff2) format('woff2');    
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   
   Filename: sf_base.css
   author: adrian soliz
   date:10/17/19
*/

body{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
p{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
